<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

<body>
<div class="container">
  <form method="POST" action="/forgot-password"  >
      <h2>パスワードを変更しますか? </h2>

      <input name="email" type="email" class="form-control" placeholder="Email Address"
              autofocus="true"/>

      <button class="btn btn-lg btn-primary btn-block" type="submit">send</button>

  </form>
</div>

<%- include('layouts/scripts'); -%>
</body>
</html>
