<!DOCTYPE html>
<html lang="en" dir="ltr">
   <%- include('layouts/header'); -%>
  <body>
  
   <%- include('layouts/navbar'); -%>
     <h1 class="text-center">ログイン成功画面</h1>

  <%- include('layouts/scripts'); -%>
  </body>
</html>
