<!DOCTYPE html>
<html lang="en" dir="ltr">
   <%- include('layouts/header'); -%>
  <body>
   <%- include('layouts/navbar'); -%>
   <div class="container">
     <h1 class="text-center">登録者用画面</h1>
   </div>
  <%- include('layouts/scripts'); -%>
  </body>
</html>
