<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

<body>
<h1 class="bg-danger"><%= errors %></h1>
<div class="container">
      <form action="/users/register" method="POST" class="login-form"    >
        <h2 class="form-heading">Create your Account</h2>
        <input type="hidden" name="_csrf" value="<%=　csrfToken  %>">
        
        <input name="name" type="text" class="form-control" placeholder="Username" autofocus="true"/>
        <input name="email" type="text" class="form-control" placeholder="Email" autofocus="true"/>
        <input name="password" type="password" class="form-control" placeholder="Password" />
        <input name="password2" type="password" class="form-control" placeholder="Password confirm" />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>

</div>
<%- include('layouts/scripts'); -%>

</body>
</html>
