<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

<body>
<div class="container">
  <form method="POST" action="/reset-password"  >
      <h2>パスワードリセット </h2>

      <input type="hidden" name="email" value="<%=　record.email  %>">
      <input type="hidden" name="token" value="<%=　record.token  %>">

      <input name="password1" type="password" class="form-control" placeholder="Password"/>
      <input name="password2" type="password" class="form-control" placeholder="Password"/>


      <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>

      <div style="align-text:center;margin-bottom:10px;margin-top:15px"> Don't have an account? <a href='/register'>Sign up</a></div>
  </form>
</div>

<%- include('layouts/scripts'); -%>
</body>
</html>
